<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin | 登录</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" th:href="@{/static/layuiadmin/layui/css/layui.css}" media="all">
    <style type="text/css">
        .login-form {
            margin-top: 200px;
        }

        .login-form-submit {

        }
    </style>
</head>
<body style="background-color: #000000">
<div class="layui-container">
    <div class="layui-row">

        <div class="layui-col-md4 layui-col-md-offset4 login-form">
            <img th:src="@{/static/img/logo.png}" style="width: 160px;margin-left: 150px;margin-bottom: 10px">

            <form class="layui-form" method="post" data-toggle="validator" th:action="@{/login/form}">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="color: #fff">账号</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" required lay-verify="required" placeholder="请输入账号"
                               autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="color: #fff">密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="password" required lay-verify="required" placeholder="请输入密码"
                               autocomplete="off"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block login-form-submit">
                        <button type="submit" class="layui-btn" style="margin-left: 120px">登录</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/static/layuiadmin/layui/layui.js}"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer, form = layui.form;
        //监听提交
        form.on('submit(formLogin)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
</body>
</html>
