<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/static/plugins/layui/css/layui.css}">
<style>
    .detail-item-span {
        margin-right: 50px;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .detail-item-p {
        height: 30px;
        margin-left: 50px;
    }
</style>
<div class="layui-form" style="margin:20px 30px 20px 20px;font-size: 15px">
    <p class="detail-item-p"><span class="detail-item-span">姓名:</span><span th:text="${user.realName}"></span></p>
    <p class="detail-item-p"><span class="detail-item-span">账号:</span><span th:text="${user.username}"></span></p>
    <p class="detail-item-p"><span class="detail-item-span">类型:</span>
        <button class="layui-btn layui-btn-radius layui-btn-xs" style="width: 60px"
                th:text="${user.userType==1?'管理员':'用户'}"></button>
    </p>
    <p class="detail-item-p"><span class="detail-item-span">状态:</span>
        <input type="checkbox" lay-skin="switch" lay-text="正常|禁用" checked th:if="${user.isUsable=='1'}">
        <input type="checkbox" lay-skin="switch" lay-text="正常|禁用"  th:if="${user.isUsable=='0'}">
    </p>
</div>
<script th:src="@{/static/plugins/jquery/jquery-3.3.1.min.js}"></script>
<script th:src="@{/static/plugins/layui/layui.js}"></script>
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form;
        form.render();
    });
</script>
</html>