<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 系统设置</a></li>
        <li><a href="#">角色管理</a></li>
    </ol>
</section>
<section style="padding-bottom: 0;margin: 5px;background-color: #ffffff">
    <div class="row">
        <div class="col-xs-12" style="background-color:#F2F2F2 ">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline search-from">
                        <div class="form-group">
                            <label for="searchName">姓名：</label>
                            <input type="text" class="form-control " id="searchName" style="width: 180px">
                        </div>
                        <div class="form-group">
                            <label for="searchUserName">用户名：</label>
                            <input type="text" class="form-control " id="searchUserName" style="width: 180px">
                        </div>
                        <div class="form-group">
                            <label for="searchType">用户类型：</label>
                            <select name="userType" id="searchType" class="form-control" style="width: 180px">
                                <option value="0">全部</option>
                                <option value="1">管理员</option>
                                <option value="2">用户</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="searchStatus">用户状态：</label>
                            <select name="roleIds" id="searchStatus" class="form-control" style="width: 180px">
                                <option value="10">全部</option>
                                <option value="1">正常</option>
                                <option value="0">禁用</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary" id="searchSubmit"> 查询</button>
                        <button type="button" class="btn btn-default" id="resetSubmit"> 重置</button>
                    </form>
                    <table id="table" style="width:100%"></table>
                </div>
            </div>

        </div>
    </div>
    <!--操作按钮-->
    <div id="actionButtons" style="display: none">
        <a class="edit ml10" href="javascript:void(0)" data-toggle="tooltip" title="编辑"><i
                class="glyphicon glyphicon-edit"></i></a>　
        <a class="delete ml10" href="javascript:void(0)" data-toggle="tooltip" title="删除"><i
                class="glyphicon glyphicon-remove"></i></a>　
    </div>

    <div id="toolbar" class="btn-group">
        <button id="btn_add" type="button" class="btn btn-default add">新增</button>
        <button id="btn_test" type="button" class="btn btn-default">测试</button>
    </div>


    <!-- add Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="addModalLabel">添加用户</h4>
                </div>
                <div class="modal-body">
                    <form id="addForm">
                        <div class="form-group">
                            <label class="control-label" for="realName"><span>*</span>姓名:</label>
                            <input id="realName" type="text" class="form-control" name="realName" placeholder="输入姓名"
                                   minlength="2">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="username"><span>*</span>用户名:</label>
                            <input id="username" type="text" class="form-control" name="username" placeholder="输入用户名"
                                   minlength="3">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password"><span>*</span>密码:</label>
                            <input type="text" id="password" class="form-control" minlength="6"
                                   name="password" placeholder="输入密码" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="roleIds"><span>*</span>角色列表:</label>
                            <select name="roleIds" id="roleIds" multiple class="form-control select2"
                                    data-placeholder="请从列表选择一项" required>
                                <option th:each="role : ${roleList}" th:value="${role.id}"
                                        th:text="${role.roleName}">
                                    角色不存在
                                </option>
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="addSubmit" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="editModalLabel">修改用户</h4>
                </div>
                <div class="modal-body">
                    <form id="editForm">
                        <input type="hidden" name="id" id="editId"/>
                        <div class="form-group">
                            <label class="control-label" for="realName"><span class="asterisk">*</span>姓名:</label>
                            <input id="editRealName" type="text" class="form-control" name="realName" placeholder="输入姓名"
                                   minlength="2">
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="username"><span class="asterisk">*</span>用户名:</label>
                            <input id="editUsername" type="text" class="form-control" name="username"
                                   placeholder="输入用户名"
                                   minlength="3" readonly required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="editRoleIds"><span class="asterisk">*</span>角色列表:</label>
                            <select name="roleIds" id="editRoleIds" multiple class="form-control select2"
                                    data-placeholder="请从列表选择一项" required>
                                <option th:each="role: ${roleList}" th:value="${role.id}" th:text="${role.roleName}">
                                    角色不存在
                                </option>
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="editSubmit">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- delete modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteSmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="deleteSmallModalLabel">删除用户</h4>
                </div>
                <div class="modal-body">
                    <form id="deleteForm">
                        <input type="hidden" name="id" id="deleteId"/>
                    </form>
                    确定要删除当前记录?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="deleteSubmit">确定</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script th:inline="javascript">
    var $table = $("#table");
    $(function () {
        $('.select2').select2({width: '100%'});
        //这个要写在表格定义之前
        window.operateEvents = {
            'click .edit': function (e, value, row, index) {
                $('#editModal').modal('show')
                $('#editForm').fillForm(row);
            },
            'click .delete': function (e, value, row, index) {
                $('#deleteModal').modal('show')
                $('#deleteForm').fillForm(row);
            }
        };


        $table.bootstrapTable({
            method: 'get',
            url: "system/user/getListByPage",
            striped: true,
            cache: false,
            toolbar: "#toolbar",
            pagination: true,
            sidePagination: "server",
            pageNumber: 1,
            pageSize: 10,
            pageList: [10, 15],
            showRefresh: true,
            showColumns: true,
            uniqueId: "id",
            queryParams: function (params) {
                //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
                var temp = {
                    realName: $("#searchName").val(),
                    username: $("#searchUserName").val(),
                    userType: $("#searchType").val() === "0" ? null : $("#searchType").val(),
                    isUsable: $("#searchStatus").val() === "10" ? null : $("#searchStatus").val(),
                    limit: params.limit,                         //页面大小
                    page: (params.offset / params.limit) + 1,   //页码
                    sortCode: 'id',      //排序列名
                    sortRole: 'desc' //排位命令（desc，asc）
                };
                return temp;
            },
            columns: [
                {
                    checkbox: true
                }, {
                    title: '姓名', field: 'realName'
                }, {
                    title: '用户名', field: 'username'
                }, {
                    title: '类型', field: 'userType', formatter: function (value, row, index) {
                        if (value === 1) {
                            return "管理员";
                        } else if (value === 2) {
                            return "用户";
                        }
                    }
                }, {
                    title: '状态', field: 'isUsable', width: 120, formatter: function (value, row, index) {
                        if (value === 0) {
                            return "禁用";
                        } else if (value === 1) {
                            return '<input type="checkbox" name="my-checkbox" checked>';
                        }
                    }
                }, {
                    title: '操作', field: 'operate', width: 120, events: operateEvents, formatter: operateFormatter
                }
            ],
            dataType: "json",
            responseHandler: function (data) {
                return {
                    "total": data.result.total,//总页数
                    "rows": data.result.list   //数据
                };
            },
            onLoadSuccess: function () {  //加载成功时执行
                $("[name='my-checkbox']").bootstrapSwitch({
                    onText: "正常",
                    offText: "禁用",
                    handleWidth: "30"
                }).bootstrapSwitch('size',"mini");
            },
            onLoadError: function () {  //加载失败时执行
                console.info("加载数据失败");
            }
        });

        function operateFormatter(value, row, index) {
            if (typeof(row) !== "undefined") {
                return $('#actionButtons').html();
            } else {
                return "";
            }

        }

        $("#btn_add").click(function () {
            $('.select2').select2({width: '100%'});
            $('#addModal').modal('show');
        });

        $("#searchSubmit").click(function () {
            $table.bootstrapTable('refresh');
        });
        $("#resetSubmit").click(function () {
            $("#searchName").val("");
            $("#searchUserName").val("");
            $("#searchType").val("0");
            $("#searchStatus").val("10");
        });


        $("#addSubmit").click(function () {
            $.ajax({
                url: "system/user/save",
                type: "post",
                data: {
                    realName: $("#realName").val(),
                    username: $("#username").val(),
                    password: $("#password").val(),
                    roleIds: $("#roleIds").val()
                },
                success: function (result) {
                    if (result.success) {
                        $('#addModal').modal('hide');
                        toastr.success(result.result);
                        $table.bootstrapTable('refresh');
                    } else {
                        toastr.error(result.result);
                    }

                }
            });
        });

        $("#editSubmit").click(function () {
            $.ajax({
                url: "system/user/update",
                type: "post",
                data: {
                    id: $("#editId").val(),
                    realName: $("#editRealName").val()
                },
                success: function (result) {
                    if (result.success) {
                        $('#editModal').modal('hide');
                        toastr.success(result.result);
                        $table.bootstrapTable('refresh');
                    } else {
                        toastr.error(result.result);
                    }

                }
            });
        });

        $("#deleteSubmit").click(function () {
            $.ajax({
                url: "system/user/delete",
                type: "post",
                data: {
                    id: $("#deleteId").val()
                },
                success: function (result) {
                    if (result.success) {
                        $('#deleteModal').modal('hide');
                        toastr.success(result.result);
                        $table.bootstrapTable('refresh');
                    } else {
                        toastr.error(result.result);
                    }

                }
            });
        });
    });
    $("#btn_test").click(function () {
        $table.bootstrapTable('refresh');
    });
</script>
</html>