<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="layui-main-content">
    <div class="layui-card layui-admin-content-head">
        <span class="layui-breadcrumb" style="visibility: visible;padding: 0 15px">
            <a href="">系统管理</a>
            <span lay-separator="">/</span>
            <a><cite>用户管理</cite></a>
        </span>
    </div>
    <div class="layui-fluid" style="padding: 0 10px 0 10px">
        <div class="layui-card layui-admin-content-search">
            <form class="layui-form layui-card-header layui-card-header-search">
                <div class="layui-form-item" style="padding-top: 15px">
                    <div class="layui-inline">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-inline" style="width: 180px;">
                            <input id="realNameSearch" type="realName" name="" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">账号</label>
                        <div class="layui-input-inline" style="width: 180px;">
                            <input type="text" id="usernameSearch" name="userName" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-inline" style="width: 180px;">
                            <select id="isUsableSearch" name="status">
                                <option></option>
                                <option value="1">正常</option>
                                <option value="0">禁用</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-inline" style="width: 180px;">
                            <button id="searchBtn" class="layui-btn" data-type="reload">
                                搜索
                            </button>
                            <button class="layui-btn layui-btn-primary" type="reset">
                                重置
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="layui-card-body" style="padding-top: 0">
                <div style="padding-bottom: 10px;padding-top: 0">
                    <div class="layui-btn-group">
                        <button class="layui-btn">增加</button>
                        <button class="layui-btn">编辑</button>
                        <button class="layui-btn">删除</button>
                    </div>
                </div>
                <table id="demo" lay-filter="test"></table>
            </div>
        </div>
    </div>
</div>
<script th:inline="none">
    layui.use(['form', 'table', 'layer'], function () {
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        form.render();
        //第一个实例
        table.render({
            elem: '#demo'
            , id: 'userTable'
            , height: 'full-360'
            , url: 'system/user/getListByPage' //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left'}
                , {field: 'realName', title: '姓名', width: 120}
                , {field: 'username', title: '用户名', width: 180}
                , {field: 'userType', title: '类型', width: 120, templet: '#typeTpl'}
                , {field: 'status', title: '状态', width: 120, templet: '#statusTpl'}
                , {field: 'operation', title: '操作', width: 300, templet: '#operationTpl'}
            ]],
            parseData: function (res) { //res 即为原始返回的数据
                var success = res.success;

                if (success) {
                    var result = res.result;
                    return {
                        "code": 0, //解析接口状态
                        "msg": '', //解析提示文本
                        "count": result.total, //解析数据长度
                        "data": result.list //解析数据列表
                    };
                }
                console.log(res)
            }
        });
        form.on('switch(statusChanges)', function (data) {
            var state = data.elem.checked;//判断开关状态
            if (state === true) {
                layer.msg('该账号已启用');
            } else {
                layer.msg('该账号已禁用');
            }

        });
        var $ = layui.$, active = {
            reload: function(){
                var realName = $('#realNameSearch');
                var username = $('#usernameSearch');
                var isUsable = $('#isUsableSearch');

                //执行重载
                table.reload('userTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        realName: realName.val(),
                        username: username.val(),
                        isUsable: isUsable.val()
                    }
                });
            }
        };
        $('#searchBtn').on('click', function(e){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
            e.preventDefault();
        });
    });
</script>
<script type="text/html" id="statusTpl">
    {{#  if(d.isUsable == 1){ }}
    <input type="checkbox" name="zzz" lay-skin="switch" value="{{d.status}}" lay-text="正常|禁用" lay-filter="statusChanges"
           checked>
    {{#  } else { }}
    <input type="checkbox" name="zzz" lay-skin="switch" value="{{d.status}}" lay-text="正常|禁用"
           lay-filter="statusChanges">
    {{#  } }}
</script>
<script type="text/html" id="typeTpl">
    {{#  if(d.userType == 1){ }}
    <span>管理员</span>
    {{#  } else { }}
    <span>用户</span>
    {{#  } }}
</script>
<script type="text/html" id="operationTpl">
    <div style="padding-bottom: 10px;padding-top: 0">
        <button class="layui-btn layui-btn-sm">查看</button>
        <button class="layui-btn layui-btn-sm  layui-btn-warm">编辑</button>
        <button class="layui-btn layui-btn-sm layui-btn-danger">删除</button>
    </div>
</script>
</html>