<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin | Dashboard</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/metismenu/metisMenu.min.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/bootstrap-table/bootstrap-table.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/main.css}">
    <link rel="stylesheet" th:href="@{/static/css/sidebar.css}">
</head>
<body>
<div style="height: 6%">
    <div th:replace="~{common/main-header :: main-header}"></div>
</div>
<div style=";height: 94%;">
    <div class="container-fluid">
        <div class="row" style="margin-left: -30px;">
            <div class="col-md-2">
                <div th:replace="~{common/main-sidebar :: main-sidebar}"></div>
            </div>
            <div class="col-md-10">.col-md-4</div>
        </div>
    </div>
</div>
<script th:src="@{/static/plugins/jquery/jquery-3.3.1.min.js}"></script>
<script th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static/plugins/metismenu/metisMenu.min.js}"></script>
<script th:src="@{/static/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
<script th:src="@{/static/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
<script>
    $(function () {
        $("#side-bar").metisMenu();
    })
</script>
</body>
</html>