<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="layui-main-content">
    <div class="layui-card layui-admin-content-head">
        <span class="layui-breadcrumb" style="visibility: visible;padding: 0 15px">
            <a href="">系统管理</a>
            <span lay-separator="">/</span>
            <a><cite>用户管理</cite></a>
        </span>
    </div>
    <div class="layui-fluid" style="padding: 0 10px 0 10px">
        <div class="layui-card layui-admin-content-search">
            <form class="layui-form layui-card-header layui-card-header-search">
                <div class="layui-form-item" style="padding-top: 15px">
                    <div class="layui-inline">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-inline" style="width: 180px;">
                            <input id="realNameSearch" type="realName" name="" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">账号</label>
                        <div class="layui-input-inline" style="width: 180px;">
                            <input type="text" id="usernameSearch" name="userName" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-inline" style="width: 180px;">
                            <select id="isUsableSearch" name="status">
                                <option></option>
                                <option value="1">正常</option>
                                <option value="0">禁用</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-inline" style="width: 180px;">
                            <button id="searchBtn" class="layui-btn" data-type="reload">
                                搜索
                            </button>
                            <button class="layui-btn layui-btn-primary" type="reset">
                                重置
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="layui-card-body" style="padding-top: 0">
                <table id="demo" lay-filter="demo"></table>
            </div>
        </div>
    </div>
</div>
<script th:inline="none">
    layui.use(['form', 'table', 'layer'], function () {
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        form.render();
        //第一个实例
        var tableIns = table.render({
            elem: '#demo'
            , id: 'userTable'
            , toolbar: '#toolbarDemo'
            , defaultToolbar: []
            , height: 'full-310'
            , url: 'system/user/getListByPage' //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {type: 'checkbox'}
                , {field: 'id', title: 'ID', width: 80, sort: true}
                , {field: 'realName', title: '姓名', width: 120}
                , {field: 'username', title: '用户名', width: 180}
                , {field: 'userType', title: '类型', width: 120, templet: '#typeTpl'}
                , {field: 'status', title: '状态', width: 120, templet: '#statusTpl'}
                , {fixed: 'right', width: 178, align: 'center', toolbar: '#barDemo'}
            ]],
            parseData: function (res) { //res 即为原始返回的数据
                var success = res.success;

                if (success) {
                    var result = res.result;
                    return {
                        "code": 0, //解析接口状态
                        "msg": '', //解析提示文本
                        "count": result.total, //解析数据长度
                        "data": result.list //解析数据列表
                    };
                }
                console.log(res)
            }
        });
        form.on('switch(statusChanges)', function (data) {
            console.log(data);
            var state = data.elem.checked;//判断开关状态
            var isUsable = 0;
            if (state === true) {
                isUsable = 1;
            }
            $.ajax({
                url: "system/user/changeStatus",
                type: "post",
                data: {
                    id: data.value,
                    isUsable: isUsable
                },
                success: function (result) {
                    if (result.success) {
                        layer.msg('设置成功');
                    } else {
                        active['reload'].call(this);
                        layer.msg('设置失败');
                    }
                }
            });
        });
        var $ = layui.$, active = {
            reload: function () {
                var realName = $('#realNameSearch');
                var username = $('#usernameSearch');
                var isUsable = $('#isUsableSearch');

                //执行重载
                table.reload('userTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        realName: realName.val(),
                        username: username.val(),
                        isUsable: isUsable.val()
                    }
                });
            }
        };
        $('#searchBtn').on('click', function (e) {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
            e.preventDefault();
        });
        //头工具栏事件
        table.on('toolbar(demo)', function (obj) {
            switch (obj.event) {
                case 'add':
                    layer.open({
                        title: '添加'
                        , type: 2
                        , area: ['400px', '400px']
                        , content: 'system/user/toAdd'
                    });
                    break;
                case 'getCheckLength':

                    break;
                case 'isAll':

                    break;
            }
            ;
        });
        //监听工具条
        table.on('tool(demo)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.open({
                    title: '详情'
                    , type: 2
                    , area: ['400px', '400px']
                    , content: 'system/user/toDetail?id=' + data.id
                });
            } else if (obj.event === 'del') {
                layer.confirm('确定删除该信息?', function (index) {
                    $.ajax({
                        url: "system/user/delete",
                        type: "post",
                        data: {
                            id: data.id
                        },
                        success: function (result) {
                            if (result.success) {
                                layer.msg('删除成功');
                                active['reload'].call(this);
                            } else {
                                layer.msg('删除失败');
                            }
                        }
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.open({
                    title: '修改'
                    , type: 2
                    , area: ['400px', '400px']
                    , content: 'system/user/toEdit?id=' + data.id
                });
            }
        });
    });
</script>
<script type="text/html" id="statusTpl">
    {{#  if(d.isUsable == 1){ }}
    <input type="checkbox" name="zzz" lay-skin="switch" value="{{d.id}}" lay-text="正常|禁用" lay-filter="statusChanges"
           checked>
    {{#  } else { }}
    <input type="checkbox" name="zzz" lay-skin="switch" value="{{d.id}}" lay-text="正常|禁用"
           lay-filter="statusChanges">
    {{#  } }}
</script>
<script type="text/html" id="typeTpl">
    {{#  if(d.userType == 1){ }}
    <span>管理员</span>
    {{#  } else { }}
    <span>用户</span>
    {{#  } }}
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="delete">批量删除</button>
    </div>
</script>
</html>